@import './variable.less';

html, body {
  color: @primary_text;
}

*::-webkit-scrollbar {
  max-width: 5px;
  max-height: 7px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #DCDCDC;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
}
  
.no-wrap {
  white-space: nowrap;
}

.wrap {
  white-space: pre-wrap;
}

.disable {
  pointer-events: none;
}

// table基本样式
.base-table {
  width: 100%;
  overflow: auto;
  >table {
    min-width: 100%;
    font-size: 14px;
    // border-left: 1px solid @base_border;
    // border-right: 1px solid @base_border;
    // border-top: 1px solid @base_border;
    >thead {
      th {
        .no-wrap;
        background-color: #EFF1F5;
        // border-bottom: 1px solid @base_border;
        text-align: center;
        font-weight: bold;
        padding: @gutter_padding_s;
        color: @secondary_text;
      }
      .thWithIcon {
        .flex-row;
        .flex-center;
        >p {
          font-weight: bold;
          margin-right: 10px;
        }
        >.icon {
          .pointer;
          width: 14px;
          height: 14px;
        }
      }
    }
    >tbody {
      color: @primary_text;
      tr {
        // &:hover {
        //   background-color: @basic_back;
        // }
        &:nth-child(2n) {
          background-color: #F7F7F9;
        }
        &:nth-child(2n+1) {
          background-color: @basic_white;
        }
      }
      .notZebra {
        background-color: @basic_white !important;
      }
      td {
        .no-wrap;
        text-align: center;
        vertical-align: middle;
        padding: @gutter_padding_l;
        .buttons {
          .pointer;
          .flex-row;
          .flex-center;
          >p {
            color: @color_theme;
            font-size: 14px;
            margin-right: 20px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  >.intab {
    border-top: 0px;
  }
}
.base-table.border {
  >table {
    >tbody {
      tr {
        &:nth-child(2n) {
          background-color: @basic_white;
        }
      }
      td {
        border-bottom: 1px solid @base_border;
      }
    }
  }
}

// 卡片基本样式
.base-card {
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 23px 0px rgba(0,0,0,0.05);
  padding: @gutter_padding_l;
  // &:hover {
  //   .iScrollIndicator {
  //     display: block !important;
  //   }
  // }
}

// 区域骨架屏 loading
@keyframes skeleton-loading {
  to {
    background-position-x: -20%;
  }
}

.skeleton-mask {
  background-color: #EDEDED;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  )  #EDEDED;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.5s skeleton-loading ease-in-out infinite;
}

.element-form-item {
  width: 80%;
}
